@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');



.navBar {
  display: flex;
  flex-direction: row;
  background-color: rgb(228, 46, 167);
  border: 4px solid rgba(15, 1, 7, 0.438);
  align-items: center;
  min-height: 40px;
  padding-left: 25px;
  font-size: 30px;
  font-family: 'Quintessential', cursive;
}
.cart-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}

.cart-num {
  background-color: grey;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
}

.all-products {
  display: flex;
  margin: 20px;
}

.card {
  border-radius: 15px;
  margin-right: 20px;
  width: 250px;
  background-color: rgba(252, 106, 203, 0.863);
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width:100%;
  height: 50%;
}

.card-body {
  margin: 10px;
}
.card-text{
  height: 50px;
}
.card-title{
  font-family: 'Quintessential', cursive;
}
.btn {
  background-color: rgb(228, 46, 167);
  color: white;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 3px;
  border-radius: 3px;
  border-width: 0px;
  font-family: 'Dongle', sans-serif;
  font-size: 20px;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.cart-container {
  margin: 20px;
}

.card-cart {
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(211, 211, 211);
  border-radius: 10px;
  max-width: 500px;
}

.card-img-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}